.container{
  &:after{
    content: '';
    height: px-to-rem(900px);
    width: px-to-rem(900px);
    border: 1px solid $blue-stone;
    border-radius:50%;
    position: absolute;
    bottom: px-to-rem(-480px);
    right: 0;
    z-index: -2;
    animation: homeAnim 15s infinite alternate;

    @media screen and (max-width: 650px) {
      height: px-to-rem(400px);
      width: px-to-rem(400px);
      bottom: px-to-rem(-270px);
    }

    @keyframes homeAnim {
      50%{
        transform: scale(0.8);
      }
      100%{
        transform: scale(1.1);
      }
    }
    @media screen and(max-width: 450px){
      display: none;
    }
  }
  .home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95%;
    width: 100%;

    .home-content{
      position: relative;
      &:before{
        content: '';
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border :1px solid $blue-stone;
        position: absolute;
        left: -50px;
        top: -20px;
        animation: homeAnim 20s infinite alternate;
        @media screen and (max-width: 650px){
          top: -5px;
          left: -25px;
          width: 25px;
          height: 25px;
        }
      }
    }

    h1,h2{
      font-size: px-to-rem(52px);
      letter-spacing: px-to-rem(2px);
      @media screen and (max-width:650px){
        font-size: px-to-rem(20px);
      }
    }

  }
}