
.navigation {
  position: absolute;
  top: px-to-rem(16px);
  left: px-to-rem(16px);
  font-size: px-to-rem(18px);
  line-height: px-to-rem(28px);
  z-index: 10;
  transform: translateY(-100%);
  animation: navProject 1s ease forwards;
  @media screen and (max-width: 430px )  {
    font-size: px-to-rem(12px);
  }
  @media (orientation: landscape) and (max-width: 600px)  {
    font-size: px-to-rem(12px);
  }

  &::before {
    content: '';
    position: absolute;
    height: px-to-rem(300px);
    width: px-to-rem(300px);
    border-radius: 50%;
    background-color: $blue-stone;
    z-index: -1;

    top: px-to-rem(-150px);
    left: px-to-rem(-160px);
    animation: navAnim 20s infinite alternate;

    @media screen and (max-width: 430px) {
      height: px-to-rem(200px);
      width: px-to-rem(200px);
      top:px-to-rem(-100px) ;
      left: px-to-rem(-101px);

    }
    @media (orientation: landscape) and (max-width: 600px)  {

      left: px-to-rem(-203px);
    }
  }

  .nav-active {
    color: $white;
  }

}
@keyframes navProject {
  to {
    transform: translateY(0);
  }
}

.nav, .navigation {
  ul:hover li:not(:hover) {
    opacity: .5;
  }
}

ul:hover li:hover {
  color: $white;
}

.nav {
  top: 5px;
  left: 60%;
  font-size: 1.1rem;
  line-height: 20px;
  transform: translateY(-100%);
  animation: navProject 1s ease forwards;
  position: absolute;
  @media screen and (max-width: 650px)  {

    top: px-to-rem(16px);
    left: px-to-rem(16px);
    font-size: px-to-rem(12px);
    line-height: px-to-rem(28px);
  }
  @media (orientation: landscape) and (max-width: 600px)  {
    font-size: px-to-rem(12px);

  }



  &:before {
    content: '';
    position: absolute;
    height: px-to-rem(300px);
    width: px-to-rem(300px);
    border-radius: 50%;
    background-color: $blue-stone;
    z-index: -1;
    left: -120px;
    top: -200px;
    animation: navAnim 20s infinite alternate;

    @media screen and (max-width: 430px) {
      height: px-to-rem(200px);
      width: px-to-rem(200px);
      top:px-to-rem(-96px) ;
      left: px-to-rem(-101px);
    }
    @media (orientation: landscape) and (max-width: 600px)  {
      left: -113px;
      top: -12.125rem;
      height: 16.75rem;
      width: 16.75rem;

    }

  }


  .nav-projects {
    transform: translateX(67px);
    padding: 0 20px;
  }
}
@keyframes navAnim {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
