@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$black  : #000;
$white : #fff;
$font-c : 'Catamaran', sans-serif;
$font-r : 'Roboto', sans-serif;
$blue-stone : #15616d;
$gray : #d3d3d3;
$beige : #ffecd1;
$light-blue : #c9e4de;
$color-1 : #e63946;
$color-2 : #a8dadc;
$color-3 : #fb8b24;